@font-face {
    font-family: 'Monocraft';
    src: url('/fonts/Monocraft.eot');
    src: local('Monocraft'),
        url('/fonts/Monocraft.eot?#iefix') format('embedded-opentype'),
        url('/fonts/Monocraft.woff2') format('woff2'),
        url('/fonts/Monocraft.woff') format('woff'),
        url('/fonts/Monocraft.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('/fonts/BaiJamjuree-Bold.eot');
    src: local('Bai Jamjuree Bold'), local('BaiJamjuree-Bold'),
        url('/fonts/BaiJamjuree-Bold.eot?#iefix') format('embedded-opentype'),
        url('/fonts/BaiJamjuree-Bold.woff2') format('woff2'),
        url('/fonts/BaiJamjuree-Bold.woff') format('woff'),
        url('/fonts/BaiJamjuree-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Bai Jamjuree';
    src: url('/fonts/BaiJamjuree-Medium.eot');
    src: local('Bai Jamjuree Medium'), local('BaiJamjuree-Medium'),
        url('/fonts/BaiJamjuree-Medium.eot?#iefix') format('embedded-opentype'),
        url('/fonts/BaiJamjuree-Medium.woff2') format('woff2'),
        url('/fonts/BaiJamjuree-Medium.woff') format('woff'),
        url('/fonts/BaiJamjuree-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}