@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --colour-1: rgb(32, 34, 37); // #283033;
  --colour-2: rgb(47, 49, 54); // #2f3f46;
  --colour-3: #ff4a4a; // #4ACFFF;
  --colour-4: #f2f1ef; // #DAEBF0;

  --colour-light: var(--colour-4);
  --colour-dark: var(--colour-1);
  --colour-off: var(--colour-2);
  --colour-accent: var(--colour-3);
  --colour-white: #FFFFFF;

  --colour-mono: #fff;

  --link-colour: var(--text-colour);
}

:root,
.light {
  --background-colour: var(--colour-white);
  --background-accent: var(--colour-4);
  --background-accent-two: var(--colour-1);

  --background-primary: var(--colour-white);
  --background-secondary: var(--colour-4);
  --background-tertiary: var(--colour-1);

  --text-colour: var(--colour-1);
  --text-colour-invert: var(--colour-4);


  --padding-full: #{$padding-full};
  --padding-half: calc(var(--padding-full) / 2);
  --max-width: 1200px;
  --max-width-content: 1000px;
  --min-width: 320px;

  --box-shadow: 15px 15px 30px #bebebe, -15px -15px 30px #ffffff;

  @include break(xs) {
    --padding-full: calc(#{$padding-full} / 2);
  }
}

.dark {
  --background-colour: var(--colour-dark);
  --background-accent: var(--colour-2);
  --background-accent-two: var(--colour-2);

  --background-primary: var(--colour-dark);
  --background-secondary: var(--colour-2);
  --background-tertiary: var(--colour-2);

  --text-colour: var(--colour-4);
  --text-colour-invert: var(--colour-1);
  --box-shadow: 15px 15px 30px #191919, -15px -15px 30px #4d3a3a93;
  --colour-mono: #000;
}

//** Normalize the styles for all browsers. **//
@import "~/node_modules/normalize.css/normalize.css";
// Credits to https://github.com/IdreesInc/Monocraft
@import url("fonts.scss");

*,
*::before,
*::after {
  box-sizing: border-box;

  //** Enable for finding overflowing elements **//
  // outline: 1px solid red;
}

html {
  background-color: var(--background-colour);
}

body,
html,
#__nuxt,
#__layout {
  color: var(--text-colour);
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 100%;
  letter-spacing: 1px;
  line-height: 1.5;
  font-weight: 400;
  scroll-behavior: smooth;
  scroll-margin-top: 6rem;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
  min-width: var(--min-width);
}

#__nuxt,
#__layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  z-index: 999;
}

h1,
h2,
h3,
h4,
h5 {
  text-transform: uppercase;
  max-width: max-content;
}

h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 1.8rem;
}

pre,
code {
  font-family: monospace;
  // font-family: Monocraft, monospace;
  // font-family: Monocraft, 'Fira Code', monospace;
}

pre {
  background: var(--background-secondary);
  padding: var(--padding-half);
  border-radius: $border-radius;
  display: inline-block;
  max-width: 100%;
  white-space: pre-wrap;
  overflow-x: auto;
}
pre code .line {
  display: block;
  min-height: 1rem;
}

a {
  color: var(--link-colour);
  text-decoration: none;
}



main {
  a {
    transition: all 0.2s ease-in-out;
    position: relative;

    &::after,
    &::before {
      content: "";
      display: block;
      position: absolute;
      transition: all 0.2s ease-in-out;
      width: 0;
      top: 100%;
      border-radius: $border-radius;
      height: 2px;
      background-color: var(--link-colour);
    }

    &:hover,
    &:focus {
      filter: brightness(60%);

      &::before {
        width: 100%;
      }
    }
  }
}

.prose {
  margin: 0 auto;
  max-width: calc(var(--max-width) + var(--padding-full) * 2);
  padding: var(--padding-full);

  h2,
  h3,
  h4,
  h5 {
    margin-top: calc(var(--padding-full)*1.5);
  }
}

.error {
  color: var(--colour-3);
}

.page_header {
  background-color: var(--background-accent);
  min-height: 20rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 0 !important;
  padding: 0;
  padding-top: 6rem !important;

  &>div {
    width: 100%;
  }

  h1 {
    text-transform: uppercase;
    font-size: 2.5rem;
  }

  & > .subcontainer {
    padding: var(--padding-full);
    margin: 0 auto;
  }

  // &+* {
  //   margin-top: 20rem;
  // }
}

.content-width-container {
  width: 100%;
  max-width: calc(var(--max-width) + var(--padding-full) * 2);
  // padding: var(--padding-full);
}

.my-container {
  width: 100%;
  padding: var(--padding-full);
}

.subcontainer {
  margin: 0 auto;
  // max-width: var(--max-width);
}

.content {
  margin: 0 auto;
  max-width: var(--max-width-content);
}

.spacer {
  margin: var(--padding-half) 0;
  padding: var(--padding-half) 0;

  &__top {
    margin-top: calc(var(--padding-full) * 2);
  }
}

.not-in-view {
  opacity: 0;
  transition: 0.4s;
  transition-delay: 0.1s;
  translate: 0 5rem;

  &.in-view {
    opacity: 1;
    // filter: blur(0);
    translate: 0;
  }
}